.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #660e1e; /* Dark Red */
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 1000;
}

/* Button Group Styling */
.buttonGroup {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  padding: 3px;
}

/* Individual Button Styling */
.navButton {
  padding: 10px 15px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  background: white;
  transition: 0.3s;
}

.navButton:first-child {
  border-radius: 20px 20px 20px 20px;
}

.navButton:last-child {
  border-radius: 20px 20px 20px 20px;
}


/* Active Button */
.active {
  background: #AC0C2E; /* Dark Red */
  color: white;
}

/* Logout Button */
.logoutButton {
  background: transparent;
  border: 2px solid #ccc;
  color: #ccc;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 100px; 
}

.logoutButton:hover {
  background: #AC0C2E;
  color: white;
  border-color:white;
}
