.navbarWrapper {
  position: relative;
  width: 100%;
}

.navbar {
  height: 64px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5D071C;
}

.navbarLine {
  height: 1px;
  width: 100%;
  background-color: #5D071C;
  position: absolute;
  bottom: 0;
}

.navLinks {
  display: flex;
  gap: 20px;
}

/* Active button (for both schedule and reports) */
.activeButton {
  background: white !important;
  border-color: white !important;
  border-radius: 4px !important;
  color: black !important;
}

/* Inactive button styles */
.inactiveButton {
  color: white !important;
  background-color: transparent !important;
  border: none !important;
}

.inactiveButton:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.logoutButton {
  display: flex;
  align-items: center;
  color: white !important;
  background-color: transparent !important;
  border: none !important;
}

.logoutButton:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}