.loginContainer {
  display: flex;
  min-height: 100vh;
  background: url("../../../assets/loginbackground.png") center/cover no-repeat;
  font-family: "Figtree", sans-serif;
  justify-content: center;
  align-items: center;
}



.loginBox {
  display: flex;
  width: 55vw;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.loginLeft {
  flex: 1;
  background-color: #fffded;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

.loginIllustration {
  width: 100%;
}

.loginRight {
  flex: 1;
  padding: 3vw;
}

.loginTitle {
  font-size: 2.2vw;
  font-weight: bold;
  margin: 0.4vw;
  color: #313131;
  text-align: center;
}

.loginSubtitle {
  color: #474747;
  margin-bottom: 2vw;
  text-align: center;
}

.loginOptions {
  display: flex;
  font-family: "Figtree", sans-serif;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
  font-size: 0.8vw ;
  font-weight: 550;

}

.loginForm :global(.ant-form-item-label > label) {
  font-size: 0.8vw !important;
}

.loginForm :global(.ant-input) {
  font-size: 0.8vw !important;
}


.loginForm :global(.ant-checkbox-wrapper) {
  font-size: 0.8vw;
}





.loginOptions a {
  transition: all 0.4s ease-in-out;
}

.loginOptions a:hover {
  color: #8b0000;
  transform: scale(1.02);
}

.forgotPassword {
  color: #8b0000;
}

.loginButton {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #a52a2a;
  transition-duration: 0.5s;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.loginButton:hover {
  background-color: #8b0000 !important;
  transform: scale(1.05);
}
