.mainBox{
    font-family: "Figtree", sans-serif;
    font-weight: 400;
}


.btn{
    text-align: center;
    margin: 25px 0 5px 0;
}

.btn button{
    padding: 10px 40px;
    background-color: rgb(156, 2, 2);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}
.btnContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn button:hover{ 
    transform: scale(1.05);
    background-color: rgb(122, 3, 3);
}

h2{
    margin: 0;
    font-size: 20px;
    color: brown;

}

.des{
    line-height: 1.2;
    font-size: 12px;
    
}

.upDownBtn{
    display: flex;
    justify-content: left;
    gap: 20px;
    margin: 10px 0;
}

.upDownBtn button{
    cursor: pointer;
}

Button{
    font-family: "Figtree", sans-serif !important;
    font-weight: 500 !important;
    font-size: 13px !important;
}

Input{
    font-size: 12px !important;
}