 body {
    background-color: #520000;
    font-family: Arial, sans-serif;
  } 
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .login-box {
    display: flex;
    width: 800px;
    height: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .login-left {
    flex: 1;
    background-color: #FFFDED;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .login-illustration {
    width: 110%;
  }
  
  .login-right {
    flex: 1;
    padding: 40px;
  }
  
  .login-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  
  .login-subtitle {
    color: #8b0000;
    margin-bottom: 20px;
  }
  
  .login-form .ant-form-item {
    margin-bottom: 15px;
  }
  
  .login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .forgot-password {
    color: #8b0000;
  }
  
  .login-button {
    margin-top: 10px;
    padding-top: 10px;
  
    padding-bottom: 10px;
    width: 100%;
    background-color: #a52a2a;
    transition-duration: 0.5s;
    border: none;
    font-size: 16px;
    color: white; 
    cursor: pointer;
    border-radius: 5px; 
  }

  .login-button:hover {
    background-color: #8b0000;
    transform: scale(1.05); 
  }