/* Navbar.module.css */
.header {
    padding: 0 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    height: auto;
    line-height: normal;
  }

  .logout {
    text-align: center;
    font-size: 0.9vw;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
  }
  
  .logout:hover {
    background-color: #d10000;
    color: white;
  }
  
  .dropButton:hover {
    transform: scale(1.1);
    background-color: rgb(232, 232, 232) !important;
    color: rgb(0, 0, 0) !important;
  }
  
  
  .navbarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
  }

  .userDropdown {
    margin-right: 2vw;
  }

  .dropButton {
    height: 5vh;
    border-radius: 50px;
    border: none;
    transition: 0.5s ease-in-out;
    font-size: 0.8vw;
    padding: 25px 10px;
  }
  
  .backButton {
    padding: 4px 0;
  }
  
  .title {
    margin: 0 !important;
    flex-grow: 1;
    text-align: center;
  }
  
  .logoutButton {
    min-width: 80px;
  }