.contentStyle1 {
	margin: 0;
	height: 100vh;
	width: 100vw;
	color: #fff;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/otb4.jpg') no-repeat center center;
	background-size: cover;
}

.contentStyle2 {
	margin: 0;
	height: 100vh;
	width: 100vw;
	color: #fff;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/otb1.jpg') no-repeat center center;
	background-size: cover;
}

.contentStyle3 {
	margin: 0;
	height: 100vh;
	width: 100vw;
	color: #fff;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/otb3.jpg') no-repeat center center;
	background-size: cover;
}

.contentStyle {
	margin: 0;
	height: 100vh;
	width: 100vw;
	color: #fff;
	line-height: 160px;
	text-align: center;
	background: brown;
	min-height: 120px;
	line-height: 120px;
	background-color: #0958d9;
}
