.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.DateAndTime {
    font-size: 1em;
}

.userName {
    font-size: 2.5em;
    font-weight: 600;
    color: #ffffff !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.layout {
    min-height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
}


.successCard {
    width: 600px;
    text-align: center;
    border: 2px solid #ffd591;
}

.successIcon {
    font-size: 80px;
    color: #52c41a;
    margin-bottom: 24px;
}

.cardTitle {
    color: #fa8c16;
}

.cardContainer {
    border-radius: 8px;
    border: 2px solid #ffd591;
    height: 85vh; /* Set a fixed height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.671);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    
  
}

.dateButtonGroup {
    width: 100%;
}

.dateButton {
    height: 56px;
    width: 50%;
    font-size: 1.5em;
}

.tabContent {
    margin-bottom: 16px;
    
}

.mealList{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 55vh; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.orderSummaryContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 70vh; /* Set a fixed height */
    
}

.orderSummary{
    height: 60vh; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.orderCard {
    margin-bottom: 16px;
    
    
}

.orderDetails {
    display: flex;
    justify-content: space-between;
    
}

.removeButton{
width: 40px;
height: 35px;
display: flex;
justify-content: center;
align-items: center;
background-color: red;
color: white;
border-radius: 10px;
font-size: 20px;
font-weight: bold;
cursor: pointer;
border: none;
}