.loadingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(255,255,255,0.7); /* Add this line */
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}


.loadingText {
  margin-top: 1vw; 
  font-size: 1vw;
  font-family: "Figtree", sans-serif;
  color: #5d071c;
  text-align: center;
}