@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Roboto+Slab:wght@100..900&display=swap");

.sider {
  background-color: rgb(244, 244, 244);
  height: 100vh;
}

.userDropdown {
  margin-right: 2vw;
}

.dropButton {
  height: 5vh;
  border-radius: 50px;
  border: none;
  transition: 0.5s ease-in-out;
  font-size: 0.8vw;
  padding: 25px 10px;
}

.logout {
  text-align: center;
  font-size: 0.9vw;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.logout:hover {
  background-color: #d10000;
  color: white;
}

.dropButton:hover {
  transform: scale(1.1);
  background-color: rgb(232, 232, 232) !important;
  color: rgb(0, 0, 0) !important;
}

.menu {
  font-size: 0.9vw;
  font-family: "Inter", sans-serif;
  background-color: rgb(245, 244, 244);
  font-weight: 500;
}

.navHeader {
  text-align: center;
  font-family: "Bree Serif", serif;
  font-size: 1.6vw;
  transition: opacity 0.3s ease-in-out;
}
.navHeader.collapsed {
  opacity: 0;
}

.red {
  color: #d10000;
}

.line {
  width: 85%;
  margin-bottom: 1vw;
}

.headerText {
  margin: 43%;
  font-size: 1.3vw;
  font-weight: 650;
  font-family: 4;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

img {
  margin: auto;
  width: 18%;
}

.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.homeContent {
  width: 100%;
  display: flex;       
  flex-direction: column; 
  height: 100vh;       
  overflow: hidden;    
}

.content {
  overflow-y: auto !important;
  height: 100%;
  overflow-x: hidden;
  flex: 1;
     
}
