.mainBox{
    width: 90%;
    margin: auto;
}

.inputDiv{
    width: 80%;
    margin: auto;
}

.inputLine{
    margin: 1vw 0vw;

}

.titles{
    font-weight: 600;
    padding-bottom: 0.3vw;
}

.btnDiv{
    text-align: center;
    margin-top: 2vw;
}