.home {
  display: flex;
  font-family: Arial, sans-serif;
  flex-direction: row;
  width: 100%;
}

.empty{
  font-family: Arial, sans-serif;
  font-weight: 650;
  font-size: 1vw;

}

.homeNav {
  flex: 1;
}

.homeContent {
  flex: 5;
  padding: 1vw;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.homeHead {
  display: flex;
  flex-direction: row;
  padding: 0.5vw;
}

.headLeft {
  margin-right: auto;
  font-family: Arial, sans-serif;
  font-size: 1.5vw;
  font-weight: 650;
  color: rgb(135, 1, 1);
}
.headRight {
  margin-left: auto;
}

.headRight input {
  font-size: 1vw;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(134, 0, 0);
}

.headRight select {
  font-size: 1vw;
  padding: 9px;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(134, 0, 0);
}

.empty {
  padding: 3vw;
}
.icons {
  margin: 0vw 0.5vw;
  transition: all 0.2s ease-in-out;
}

.icons:hover {
  transform: scale(1.2);
}

.headRight select {
  margin: 5px;
}

.contentBox {
  background-color: white;
  margin: 0.5vw;
  border-radius: 10px;
  padding: 0.5vw;
  height: auto;
  box-shadow: 1px 5px 8px rgb(0, 0, 0); /* Added box shadow with slight red tint */


  overflow-y: auto;
}
.tableHeadContainer {
  margin: 1vw 0.5vw;
  padding: 0.5vw 2vw;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 234, 206);
}
tbody tr {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
th {
  padding: 5px;
}

td {
  text-align: center;
  padding: 12px 0px;
}
table {
  width: 100%;
}

tbody tr:hover {
  background-color: rgb(219, 219, 219);
}
