.card {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}

.title {
    margin-top:-20px;
    margin-bottom: -20px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Fingerprint Section */
.fingerprintSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
}

.fingerprintScanner {
    width: 100px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.fingerprintScanner:hover {
    transform: scale(1.1);
}

/* Keypad Section */
.pinSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.pinInput {
    width: 80%;
    text-align: center;
    font-size: 25px;
    font-weight: bold; /* Set bold font style */
    letter-spacing: 5px; /* Add space between characters */
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.pinButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 300px;
    margin-left: 10.712px;
}

.pinButtons button {
    height: 50px;
    border: none;
    border-radius: 10%;
    background: linear-gradient(to bottom right, #000000, #555555); /* Red gradient */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.pinButtons button:hover {

    transform: scale(1.05);
}

.pinButtons button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.SectionTexts{
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin-top: -20px;
    font-weight: bold;
}

.backButtonContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.backButtonContainer button {
    padding: 10px 20px;
    font-size: 1rem!important;
    border: 1px solid #ff0000; /* Red border */
    border-radius: 15px;
    background: #ff3b3e; /* Red gradient */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.backButtonContainer button:hover {

    transform: scale(1.05);
}

.toggleButton {
    padding: 10px 20px;
    font-size: 1.2rem!important;
    border: none;
    border-radius: 10px;
    background: #ff3b3e; /* Red gradient */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.toggleButton:hover {

    transform: scale(1.05);
}

.toggleButton:disabled {
    background: #ccc;
    cursor: not-allowed;
}


.dateAndTime {
   text-align: left;
   margin-left: 10px;
  

}


.errorPopup {
    position: fixed;
    top: 10%;
    right: 31%;
    transform: translate(-50%, -50%);
    background-color: #ff3b3e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.2rem;
    
}
