.linearGradientButton {
  position: relative;
  font-weight: 500;
  border: none;
  padding: 0 24px;
  color: rgb(107, 0, 0) !important;
  overflow: hidden;
  border-radius: 8px !important;
  z-index: 1;
}

.linearGradientButton > span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 550;
  justify-content: center;
  padding: 12px 30px;
}

.linearGradientButton::before {
  content: "";
  background-color: rgb(155, 2, 2);
  position: absolute;
  inset: 0;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 1;
  border-radius: inherit;
}

.linearGradientButton:hover::before {
  opacity: 0.8;
  background: rgb(122, 3, 3);
}
