.linearGradientButton {
    position: relative;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #5D071C 0%, #a13f02 74%);
    border-radius: 10px;
    transition: all 0.3s;
    text-align: center;
    color: rgba(255, 0, 0, 0.392);
    font-size: 1.1vw;
    cursor: pointer;
    font-weight: 600;
    border: none;
    transform: scale(1.2);
    opacity: 1;
  }
  

.linearGradientButton:hover{
    transform: scale(1.08);

  }