

  .head{
    font-size: 1.5vw;
    font-weight: 600;
  }

  .headDes{
    margin-bottom: 1vw;
  }

  .con{
    padding: 2vw 13vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  }
  
  .customTabs {
    width: 100%;
  }

  .tabHead{
    display: flex;
    width: 18.38vw;
    justify-content: center;
    
  }

  .tab{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
  }

  Input{
    display: flex !important;
    margin-left: auto !important;
    width: 25vw !important;
  }

  .select{
    display: flex !important;
    margin-left: auto !important;
    width: 25vw !important;
  }