.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}



.homeContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rBox {
  padding: 1vw;
  background-color: white;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rTable {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  background-color: rgb(182, 106, 106);
  border-radius: 20px;
}

.rTableContent {
  flex: 1;
  font-size: 1.5vw;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1vw;
  text-align: center;
}
.rTableContentSelected {
  flex: 1;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1vw;
  border-radius: 20px;
  color: white;
  background-color: brown;
  text-align: center;
}

.mid {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 2vw;
}

.mid h1 {
  color: rgb(165, 58, 58);
}

.inputs {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.1vw 6vw 1.8vw 8vw;
  display: flex;
  font-weight:600;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9vw;
}

.inputsBox {
  padding-left: 5%;
  width: 100%;
}

.options {
  width: 50%;
  font-size: 0.9vw;
  padding: 3vw;
}

.selects {
  width: 50%;
  padding: 0.6vw;
  font-size: 0.9vw;
  border: 2.2px solid black;
  border-radius: 0.6vw;
  transition-duration: 0.3s;
}



.selects:hover {
  border: 0.15vw solid #4096ff;
}

.customInput {
  padding: 0.6vw;
  font-size: 0.9vw;
  border: 2.2px solid black;
  width: 75%;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  border-radius: 0.6vw;
  margin-top: 1vh;
}


.normalInput {
  padding: 0.6vw;
  font-size: 0.9vw;
  border: 2.2px solid black;
  width: 75%;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  border-radius: 0.6vw;
}

.misInput {
  padding: 0.6vw;
  font-size: 0.9vw;
  border: 2.2px solid red;
  width: 75%;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  border-radius: 0.6vw;
}



.inputs input:hover{
  border: 2.2px solid #4096ff;
}


.picker {
  padding: 0.6vw;
  font-size: 0.9vw;
  border: 2.2px solid black;
  width: 50%;
  justify-content: space-between;
  border-radius: 0.6vw;
}


.inputRow {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.btn {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.fingerBio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  font-weight: 600;
}
.fingerIcon {
  max-width: 100%;
  
}

.bio {
  text-align: center;
 
  width: 40%;
  padding: 1vw;
  overflow: hidden;
}

.bioSec {
  justify-content: center;
  display: flex;
  margin-bottom: 1vh;
}
