.container {
  background-color: #F8F4DA;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}

.mainContent {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px; /* Add space below navbar */
  overflow-y: auto;
}



/* Ensure navbar stays on top */
:global(.navbar) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}