@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.mainBox {
  margin: 1.5vw;
  overflow: hidden;
  padding: 30px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  font-family: "Figtree", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainTitle {
  text-align: center;
  font-size: 13px;
  line-height: 6px;
  font-weight: 500;
}
h1 {
  font-size: 25px !important;
}

.mainTitle span {
  color: rgb(144, 2, 2);
}



.bottom {
  text-align: center;
  margin: 2vw;
}

img {
  width: 16%;
}

.budget {
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 13px;
  text-align: center;
  gap: 1vw;
}
